# Порт для бекенд сервера
PORT=3000

# Рядок підключення до бази даних Prisma (наприклад NeonDB, Supabase, локальний Postgres)
DATABASE_URL="postgresql://user:password@localhost:5432/devsphere?schema=public"
